---
name: Test

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['*']

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macOS-latest, windows-latest] 
                python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
            fail-fast: false

        steps:

        -   name: Clone repo
            uses: actions/checkout@v3

        -   name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v4
            with:
                python-version: ${{ matrix.python-version }}

        -   name: Install dependencies
            run: |
                pip install --upgrade setuptools
                pip install -r requirements.txt
                python setup.py install # install nidmresults from sources
                pip install ddt

        -   name: Run tests
            run: python test/test_reader.py

